body{
    font-family: 'Bebas Neue', sans-serif;
    background-image: url(./images/images.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 0px;
}
#cont{
    justify-content: center;
    display: flex;
    align-items: center;
}
form{
    width: 30%;
    background-color: rgba(168, 26, 10, 0.502);
    padding: 25px;
}
.gb{
    width: 100px;
    height: 30px;
    background-color: black;
}
.gb::placeholder{
    color: blueviolet;
}